* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
  
  body {
    margin: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color:white;
    border: 0;
  }
  
  header {
    width: 100%;
    height: auto;
    background:#000;
    border: 1px solid #18002e
    
}

  nav ul{
    padding: 10px;
    display: flex;
    justify-content:center;
    list-style: none;
}
  
  nav ul li{
  padding: 10px 20px;
}
  
  nav ul li a{
  color: #fff;
  font-size: 18px;
  font-family:'Roboto', sans-serif;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
}
  
li a:hover{
  background: #ffcc00;
  transition: 0.9s;
}
.pedidos{
  padding: 15px;
  position: relative;
  display: inline-block;
}

h2{
  margin: 6px;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
}

h3{
  margin: 6px;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

p{
    margin: 6px;
    font-weight: 300;
    text-indent: 0.5;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.envio{
    display: inline-block;
} 

.envio img{
    width: 500px;
}

